<footer class="footer d-flex flex-row justify-content-center p-2">
    <div class="d-flex flex-column align-items-end  justify-content-center">
        <p class="m-0">Developed by <a href="http://cgeopapa.github.io" target="blank">cgeopapa</a></p>
        <p>Contact: <a href="mailto:cgeopapa@gmail.com" class="m-0 p-0">
            cgeopapa@gmail.com
        </a></p>
    </div>
    <div class="vr mx-4"></div>
    <div class="d-flex flex-column align-items-start justify-content-center">
        <p>This a prototype version</p>
        <p>2021 &copy;</p>
    </div>
</footer>
