<button class="btn-lg btn-block btn-primary my-4"
(click)="begin()">Start</button>
<h4>Use Case</h4>
<p>
    When you have a topographic printed in paper or have a scanned copy of it and you have to digitalize it in AutoCAD. Topographos will automate the tidious process of having to type one-by-one all the coordinates' numbers from paper to AutoCAD.
</p>
<h4>How do I use it</h4>
<p>
    Topographos follows 3 very simple steps, upload, fix and import to AutoCAD. By clicking start above Topographos will take you to step one. Each step is explained on the respective page.
</p>
<h5>Step1: Upload Photo</h5>
<p>
    In the first step Topographos, requires you to upload the image of the coordinates table. You can either browse your computer's files and select an image (not a pdf, more on that later), or take a photo with your mobile device. 
</p>
