<h2>Step 1</h2>
<p>Upload a table image of your x and y points</p>
<input 
    type="file" 
    name="file" 
    class="form-control form-control-lg my-2" 
    id="upload" accept="image/*" 
    required 
    (change)="onFileSelected($event)">
<p>Or use your mobile device to take a photo using this PIN:</p>
<span class="card">
    <h4 class="card-body text-center">1111</h4>
</span>

<input type="range" name="range" id="range" min="-180" max="180" value="0"
    (change)="onRotationChange($event)" [hidden]="croppedImage===''"
    style="width: 100%;">
<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    (imageCropped)="imageCropped($event)"
    [maintainAspectRatio]="false"
    [transform]="imgTransform"
    [imageBase64]="croppedImage"
></image-cropper>

<div class="d-flex flex-row justify-content-between">
    <input 
        type="button" 
        value="Exit"
        class="btn btn-outline-primary my-2"
        [disabled]="loading"
        (click)="exit()">
    <input 
        type="button" 
        class="btn btn-primary my-2" 
        value="Next"
        [disabled]="loading"
        (click)="submit()">
</div>
